:local(.header) {

  section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100px;
  }
  ul {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  li {
    list-style-type: none;
  }
}