:local(.header) {
  section {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  h1 {
    color: #FF570C;
    letter-spacing: 5px;
    font-size: 1em;
  }

  span {
    font-size: .5em;
    text-align: right;
    color: #FF570C
  }

  ul {
    padding: 0;
    height: 100%;
    display: flex;
    font-size: .7em;
    justify-content: space-around;
    align-items: center;
  }

  li {
    list-style-type: none;
  }

  a {
    color: #F7F7F7;
    text-decoration: none;
  }


}