:local(.bidder) {
  display: flex;

  button {
    height: 50px;
    font-size: 1.5em;
    margin: 5px;
    border: 1px solid blue;
  }

  button:hover {
    background: black;
    color: white;
  }

  .numbers {
    width: 50px;
  }

}